services:
  - type: web
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    plan: free
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: MINI_APP_URL
        sync: false
      - key: TELEGRAM_URL
        sync: false
      - key: CANAL_SECOURS_URL
        sync: false
      - key: WHATSAPP_URL
        sync: false


